<?xml version="1.0" encoding="utf-8"?>
<packages>
	  $if$ ($databasetech$ == mysql)  <package id="COFRS.MySql" version="0.0.22-alpha" targetFramework="$compactversion$" />
    <package id="MySql.Data" version="8.0.23" targetFramework="$compactversion$" />
	  $endif$$if$ ($databasetech$ == postgresql)<package id="COFRS.Postgresql" version="0.0.18-alpha" targetFramework="$compactversion$" />
    <package id="Npgsql" version="5.0.4" targetFramework="$compactversion$" />
	  $endif$$if$ ($databasetech$ == sqlserver)<package id="COFRS.SqlServer" version="0.0.55-alpha" targetFramework="$compactversion$" />
    <package id="System.Data.SqlClient" version="4.8.2" targetFramework="$compactversion$" />
	  $endif$$if$ ($securitymodel$ == OAuth)<package id="COFRS.OAuth" version="0.0.31-alpha" targetFramework="$compactversion$" />
	  <package id="Microsoft.IdentityModel.Protocols" version="5.6.0" targetFramework="$compactversion$" />
	  <package id="Microsoft.IdentityModel.Protocols.OpenIdConnect" version="5.6.0" targetFramework="$compactversion$" />
	  <package id="Microsoft.IdentityModel.Tokens" version="5.6.0" targetFramework="$compactversion$" />
    <package id="Microsoft.Owin.Security" version="4.1.1" targetFramework="$compactversion$" />
    <package id="Microsoft.Owin.Security.Authorization" version="1.1.1.1" targetFramework="$compactversion$" />
    <package id="Microsoft.Owin.Security.Authorization.WebApi" version="1.1.1.1" targetFramework="$compactversion$" />
    <package id="Microsoft.Owin.Security.Jwt" version="4.1.1" targetFramework="$compactversion$" />
    <package id="Microsoft.Owin.Security.OAuth" version="4.1.1" targetFramework="$compactversion$" />
    <package id="System.IdentityModel.Tokens.Jwt" version="5.6.0" targetFramework="$compactversion$" />
	  $endif$<package id="AutoMapper" version="10.1.1" targetFramework="$compactversion$" />
    <package id="COFRS" version="0.0.62-alpha" targetFramework="$compactversion$" />
    <package id="COFRS.Common" version="0.0.23-alpha" targetFramework="$compactversion$" />
    <package id="System.Text.Json" version="5.0.0" targetFramework="$compactversion$" />
    <package id="Microsoft.AspNet.Cors" version="5.2.7" targetFramework="$compactversion$" />
    <package id="Microsoft.AspNet.Mvc" version="5.2.7" targetFramework="$compactversion$" />
    <package id="Microsoft.AspNet.Razor" version="3.2.7" targetFramework="$compactversion$" />
    <package id="Microsoft.AspNet.WebApi" version="5.2.7" targetFramework="$compactversion$" />
    <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="$compactversion$" />
    <package id="Microsoft.AspNet.WebApi.Core" version="5.2.7" targetFramework="$compactversion$" />
    <package id="Microsoft.AspNet.WebApi.Cors" version="5.2.7" targetFramework="$compactversion$" />
    <package id="Microsoft.AspNet.WebApi.HelpPage" version="5.2.7" targetFramework="$compactversion$" />
    <package id="Microsoft.AspNet.WebApi.Owin" version="5.2.7" targetFramework="$compactversion$" />
    <package id="Microsoft.AspNet.WebApi.Versioning" version="4.1.0" targetFramework="$compactversion$" />
    <package id="Microsoft.AspNet.WebApi.Versioning.ApiExplorer" version="4.1.0" targetFramework="$compactversion$" />
    <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.7" targetFramework="$compactversion$" />
    <package id="Microsoft.AspNet.WebPages" version="3.2.7" targetFramework="$compactversion$" />
    <package id="Microsoft.AspNetCore.Authentication.Abstractions" version="2.0.0" targetFramework="$compactversion$" />
    <package id="Microsoft.AspNetCore.Authentication.Core" version="2.0.0" targetFramework="$compactversion$" />
    <package id="Microsoft.AspNetCore.Authorization" version="2.0.0" targetFramework="$compactversion$" />
    <package id="Microsoft.AspNetCore.Authorization.Policy" version="2.0.0" targetFramework="$compactversion$" />
    <package id="Microsoft.AspNetCore.Hosting.Abstractions" version="2.0.0" targetFramework="$compactversion$" />
    <package id="Microsoft.AspNetCore.Hosting.Server.Abstractions" version="2.0.0" targetFramework="$compactversion$" />
    <package id="Microsoft.AspNetCore.Http" version="2.0.0" targetFramework="$compactversion$" />
    <package id="Microsoft.AspNetCore.Http.Abstractions" version="2.0.0" targetFramework="$compactversion$" />
    <package id="Microsoft.AspNetCore.Http.Extensions" version="2.0.0" targetFramework="$compactversion$" />
    <package id="Microsoft.AspNetCore.Http.Features" version="2.0.0" targetFramework="$compactversion$" />
    <package id="Microsoft.AspNetCore.JsonPatch" version="2.0.0" targetFramework="$compactversion$" />
    <package id="Microsoft.AspNetCore.Mvc.Abstractions" version="2.0.0" targetFramework="$compactversion$" />
    <package id="Microsoft.AspNetCore.Mvc.ApiExplorer" version="2.0.0" targetFramework="$compactversion$" />
    <package id="Microsoft.AspNetCore.Mvc.Core" version="2.0.0" targetFramework="$compactversion$" />
    <package id="Microsoft.AspNetCore.Mvc.DataAnnotations" version="2.0.0" targetFramework="$compactversion$" />
    <package id="Microsoft.AspNetCore.Mvc.Formatters.Json" version="2.0.0" targetFramework="$compactversion$" />
    <package id="Microsoft.AspNetCore.Mvc.Versioning" version="2.0.0" targetFramework="$compactversion$" />
    <package id="Microsoft.AspNetCore.ResponseCaching.Abstractions" version="2.0.0" targetFramework="$compactversion$" />
    <package id="Microsoft.AspNetCore.Routing" version="2.0.0" targetFramework="$compactversion$" />
    <package id="Microsoft.AspNetCore.Routing.Abstractions" version="2.0.0" targetFramework="$compactversion$" />
    <package id="Microsoft.AspNetCore.StaticFiles" version="2.0.0" targetFramework="$compactversion$" />
    <package id="Microsoft.AspNetCore.WebUtilities" version="2.0.0" targetFramework="$compactversion$" />
    <package id="Microsoft.Bcl.AsyncInterfaces" version="5.0.0" targetFramework="$compactversion$" />
	  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.1" targetFramework="$compactversion$" />
	  <package id="Microsoft.CSharp" version="4.4.0" targetFramework="$compactversion$" />
    <package id="Microsoft.DotNet.PlatformAbstractions" version="3.1.6" targetFramework="$compactversion$" />
    <package id="Microsoft.Extensions.Caching.Abstractions" version="5.0.0" targetFramework="$compactversion$" />
    <package id="Microsoft.Extensions.Caching.Memory" version="5.0.0" targetFramework="$compactversion$" />
    <package id="Microsoft.Extensions.Configuration" version="5.0.0" targetFramework="$compactversion$" />
    <package id="Microsoft.Extensions.Configuration.Abstractions" version="5.0.0" targetFramework="$compactversion$" />
    <package id="Microsoft.Extensions.Configuration.Binder" version="5.0.0" targetFramework="$compactversion$" />
    <package id="Microsoft.Extensions.Configuration.FileExtensions" version="5.0.0" targetFramework="$compactversion$" />
    <package id="Microsoft.Extensions.Configuration.Json" version="5.0.0" targetFramework="$compactversion$" />
    <package id="Microsoft.Extensions.DependencyInjection" version="5.0.0" targetFramework="$compactversion$" />
    <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="5.0.0" targetFramework="$compactversion$" />
    <package id="Microsoft.Extensions.DependencyModel" version="2.0.4" targetFramework="$compactversion$" />
    <package id="Microsoft.Extensions.FileProviders.Abstractions" version="5.0.0" targetFramework="$compactversion$" />
    <package id="Microsoft.Extensions.FileProviders.Embedded" version="5.0.0" targetFramework="$compactversion$" />
    <package id="Microsoft.Extensions.FileProviders.Physical" version="5.0.0" targetFramework="$compactversion$" />
    <package id="Microsoft.Extensions.FileSystemGlobbing" version="5.0.0" targetFramework="$compactversion$" />
    <package id="Microsoft.Extensions.Hosting.Abstractions" version="5.0.0" targetFramework="$compactversion$" />
    <package id="Microsoft.Extensions.Http" version="5.0.0" targetFramework="$compactversion$" />
    <package id="Microsoft.Extensions.Localization" version="5.0.0" targetFramework="$compactversion$" />
    <package id="Microsoft.Extensions.Localization.Abstractions" version="5.0.0" targetFramework="$compactversion$" />
    <package id="Microsoft.Extensions.Logging" version="5.0.0" targetFramework="$compactversion$" />
    <package id="Microsoft.Extensions.Logging.Abstractions" version="5.0.0" targetFramework="$compactversion$" />
    <package id="Microsoft.Extensions.ObjectPool" version="5.0.0" targetFramework="$compactversion$" />
    <package id="Microsoft.Extensions.Options" version="5.0.0" targetFramework="$compactversion$" />
    <package id="Microsoft.Extensions.Options.ConfigurationExtensions" version="5.0.0" targetFramework="$compactversion$" />
    <package id="Microsoft.Extensions.Primitives" version="5.0.0" targetFramework="$compactversion$" />
    <package id="Microsoft.Extensions.WebEncoders" version="5.0.0" targetFramework="$compactversion$" />
    <package id="Microsoft.Net.Http.Headers" version="2.0.0" targetFramework="$compactversion$" />
    <package id="Microsoft.Owin" version="4.1.1" targetFramework="$compactversion$" />
    <package id="Microsoft.Owin.FileSystems" version="4.1.1" targetFramework="$compactversion$" />
    <package id="Microsoft.Owin.Host.SystemWeb" version="4.1.1" targetFramework="$compactversion$" />
    <package id="Microsoft.Owin.StaticFiles" version="4.1.1" targetFramework="$compactversion$" />
    <package id="Microsoft.VisualStudio.SDK.Analyzers" version="15.8.33" targetFramework="$compactversion$" />
    <package id="Microsoft.VisualStudio.Threading.Analyzers" version="15.8.122" targetFramework="$compactversion$" />
    <package id="Microsoft.VSSDK.BuildTools" version="16.8.3038" targetFramework="$compactversion$" developmentDependency="true" />
    <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="$compactversion$" />
    <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
    <package id="Owin" version="1.0" targetFramework="$compactversion$" />
    <package id="Serilog" version="2.10.0" targetFramework="$compactversion$" />
    <package id="Serilog.Extensions.Logging" version="3.0.1" targetFramework="$compactversion$" />
    <package id="Serilog.Settings.Configuration" version="3.1.0" targetFramework="$compactversion$" />
    <package id="Serilog.Sinks.Async" version="1.4.0" targetFramework="$compactversion$" />
    <package id="Serilog.Sinks.Console" version="3.1.1" targetFramework="$compactversion$" />
    <package id="Serilog.Sinks.File" version="4.1.0" targetFramework="$compactversion$" />
    <package id="SSH.NET" version="2020.0.0" targetFramework="$compactversion$" />
    <package id="Swashbuckle" version="5.6.0" targetFramework="$compactversion$" />
    <package id="Swashbuckle.AspNetCore" version="4.0.0" targetFramework="$compactversion$" />
    <package id="Swashbuckle.AspNetCore.Swagger" version="4.0.0" targetFramework="$compactversion$" />
    <package id="Swashbuckle.AspNetCore.SwaggerGen" version="4.0.0" targetFramework="$compactversion$" />
    <package id="Swashbuckle.AspNetCore.SwaggerUI" version="4.0.0" targetFramework="$compactversion$" />
    <package id="Swashbuckle.Core" version="5.6.0" targetFramework="$compactversion$" />
    <package id="Swashbuckle.Examples" version="3.12.0" targetFramework="$compactversion$" />
    <package id="System.Buffers" version="4.5.1" targetFramework="$compactversion$" />
    <package id="System.ComponentModel.Annotations" version="4.7.0" targetFramework="$compactversion$" />
    <package id="System.Diagnostics.DiagnosticSource" version="5.0.0" targetFramework="$compactversion$" />
    <package id="System.Memory" version="4.5.4" targetFramework="$compactversion$" />
    <package id="System.Net.Http" version="4.3.4" targetFramework="$compactversion$" />
    $if$ ($targetframeworkversion$ == 4.8 )<package id="System.Net.Primitives" version="4.3.1" targetFramework="$compactversion$" />
    $endif$<package id="System.Numerics.Vectors" version="4.5.0" targetFramework="$compactversion$" />
    <package id="System.Runtime.Caching" version="4.7.0" targetFramework="$compactversion$" />
    <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="$compactversion$" />
    <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="$compactversion$" />
    <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="$compactversion$" />
    <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="$compactversion$" />
    <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="$compactversion$" />
    <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="$compactversion$" />
    <package id="System.Text.Encodings.Web" version="5.0.0" targetFramework="$compactversion$" />
    <package id="System.Threading.Channels" version="5.0.0" targetFramework="$compactversion$" />
    <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="$compactversion$" />
    <package id="System.ValueTuple" version="4.5.0" targetFramework="$compactversion$" />
    <package id="WebActivatorEx" version="2.2.0" targetFramework="$compactversion$" />
</packages>